<div>
    <h2>Data Binding Concept</h2>
    <h3>One way data-binding using string interpolation</h3>
    First Name is {{fname}}
    <br>
    <h3>One way data binding using property binding</h3>
    Last Name is <input type="text" [value] = "lname"/> <br>
    Last Name is <span [innerText] = 'lname'></span> <br>
    <input type="button" value = "click here" (click) = "fun()"/> <br>
    Age is {{age}}, But now <input type="button" value = "change age" (click) = "changeAge()"/>
    <br>
    <h3>Template Reference</h3>
    <!-- # is like an id -->
    SkillSet: <input type="text"  #skill/> 
    <!-- skill.value : get that value -->
    <input type ="button" value="add skill" (click) = "addSkill(skill.value)"/>
    <br>
    Skill set is {{skillInfo}}
</div>
